.genreByName {
   width: 85%;
   margin: 0 auto;

   &__arrow-container {
      margin-top: 4rem;
   }

   &__arrow {
      font-size: 4rem;
      color: map-get($tex-color , "white" );
   }

   &__movies {
      margin: 5rem 0px;
   }

   &__seeMore {
      cursor: pointer;
      display: block;
      font-size: 1.6rem;
      color: map-get($secondary , "orange" );
      margin-bottom: 4rem;
      text-decoration: underline;
   }
}