.seeAllPopular {
   width: 85%;
   margin: 5rem auto;
   
   &__arrow {
      font-size: 4rem;
      color: map-get($tex-color , "white");
   }
   
   &__container {
      margin: 5rem 0;
   }

   &__seeMore {
      cursor: pointer;
      color: map-get($secondary , "orange" );
      font-size: 1.6rem;
      margin-bottom: 4rem;
   }
}